html {
  max-width: 700px;
  min-width: 700px;
  margin: auto;
}
div.bg {
  background: linear-gradient(132deg, rgb(65, 80, 95) 0.00%, rgb(36, 37, 38) 100.00%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
